/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
/* .btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} */
.appbar{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  background-color: #f7d736;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 2rem;

}

.logo{
  width: 5rem;
  height: 3rem;
}
.subtitle{
  display: flex;
  flex-direction: column;
  padding-top: 0.85rem;
  padding-left: 1rem;
}

.form-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 30rem;
  height: 7.5rem;
  width: 32rem;
  margin-top: 1rem;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  margin-bottom: 3rem;
  
}

.form-card-title{
  border:none;
  font-size: large;
  font-weight: 550;
  margin-left: 0.3rem;
  margin-top: 0.7rem;
}
.autoresize{
  border:transparent;
  margin-top: 0.7rem;
  margin-left: 0.5rem;
  font-weight: 450;
  font-family: "Roboto", sans-serif;
  resize: none;
}
.btn{
  height: 2.5rem;
  width: 97%;
  align-self: center;
  border-radius: 3px;
  background-color: #f7d736;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  border-color: transparent;
  margin-top: 0.2rem;
  margin-bottom: 0.6rem;
  font-weight:bold ;
}
.card-colour-1{
  color: #ead3a7;
}
.card-colour-2{
  color: #9de0f5;
}
.card-colour-3{
  color: #ef89ba;
}
.card-colour-4{
  color:#abe9c1;
 
}
.card-colour-5{
  color:#fae890;
  
}.card-rotation-1{
  motion-rotation: -5grad;
}
.card-rotation-2{
  motion-rotation: -8grad;
}
.card-rotation-3{
  motion-rotation: -3grad;
}
.card-rotation-4{
  motion-rotation: -2grad;
}.card-rotation-5{
  motion-rotation: -1grad;
}.card-rotation-6{
  motion-rotation: 10grad;
}.card-rotation-7{
  motion-rotation: 0grad;
}.card-rotation-8{
  motion-rotation: 1grad;
}.card-rotation-9{
  motion-rotation: 3grad;
}.card-rotation-10{
  motion-rotation: 5grad;
}.card-rotation-11{
  motion-rotation: 7grad;
}


.card-container{
  display: flex;
  flex-direction: row;
  border-color: black;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.card{
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  margin-bottom: 3rem;
  border:0.2rem solid black;
  height: 10rem;
  width: 11rem;
  padding: 0.2rem;
  border-radius: 3px;
  
}

.card-title{
  font-size: large;
  font-weight: bold;
  margin-bottom: 2rem;
}




